<ion-content>
  <div id="header">
    <ion-buttons>
      <ion-button rouerLink="">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button rouerLink="">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <!-- Post Detail -->

  <div class="card">
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-content>
      Zombie ipsum reversus ab viral inferno, nam rick grimes malum
    </ion-card-content>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
