ion-content{
    --background: #f7fff7;

    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-weight: 700;
        font-size: 1.5rem;
        color: #1a535c;
        margin-bottom: 15%;
        margin-top: 10rem;
    }

    #form{
        padding-left: 1.8rem;
        padding-right: 1.8rem;

        ion-button{
            --background: #1a535c;
            color: #f7fff7;
            margin-top: 15%;
            height: 3.3rem;
            font-size: 1.2rem;
            text-transform: initial;
            border-radius: 3rem;
            box-shadow: 1px 8px 8px 0px rgb(0, 0, 0, 0.08);
            --box-shados: none;
        }
    }
}