<ion-content>
  <div id="header">
        <ion-icon name="person-outline"></ion-icon>
  </div>

  <!-- Post Detail -->

  <div class="card">
    <ion-grid class="ion-align-self-center">
      
      <ion-card-title>User</ion-card-title>
      <ion-card-content>
        Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.
      </ion-card-content>
      <ion-text>
        <h2><ion-icon class="exit" name="exit-outline"></ion-icon> Cerrar sesión</h2>
      </ion-text>
    </ion-grid>
  </div>


</ion-content>
