<ion-content [fullscreen]="true">

  <ion-grid class="ion-align-self-center">
    <form id='form' [formGroup]="addForm" (ngSubmit)='addPost()'>
      <ion-card>
          <ion-input type='text' formControlName='titulo' placeholder='Título'><ion-icon name="pencil-outline"></ion-icon></ion-input>
        <ion-textarea class='descrip' formControlName='descripcion' placeholder='Nuevo Post' rows="30"></ion-textarea>
      </ion-card>

      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="addPost()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </form>
  </ion-grid>
</ion-content>
