<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form id='form' [formGroup]="addForm" (ngSubmit)='addPost()'>
    <ion-input type='text' formControlName='titulo' placeholder='Titulo'></ion-input>
    <ion-textarea formControlName='descripcion' placeholder='Descripcion' rows="6"></ion-textarea>
    <ion-button (click)="addPost()" expand="block" shape="round">
      Guardar
    </ion-button>
  </form>
</ion-content>
