ion-content{
    --background: #f7fff7;

   #header{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        color: #f7fff7;
    }


    #form{
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
    ion-item{
        border-radius: 3rem;
        height: 3.3rem;
        box-shadow: 1px 8px 8px 0px rgb(0, 0, 0, 0.08);
        --highlight-height: 0;
        margin-top: 1rem;
    }

    ion-card{
        border-radius: 1.5rem;
        margin-top: 2rem;
        padding: 1rem;
    }

    ion-input{
        color: #1a535c;
        font-weight: 700;
        font-size: 1.3rem;
        --padding-top: 1rem;
        --padding-start: 0.5rem;
    }
    .descrip{
        font-size: 1.1rem;
        color: #1a535c;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --padding-start: 0.5rem;
    }
    ion-button{
        --background: #1a535c;
        color: #f7fff7;
        margin-top: 1rem;
        height: 3rem;
        font-size: 1.2rem;
        text-transform: initial;
        border-radius: 3rem;
        box-shadow: 1px 8px 8px 0px rgb(0, 0, 0, 0.08);
        --box-shados: none;
    }

    ion-fab-button{
        margin-bottom: 3.5rem;
        --background: #1a535c;
        --color: #ffffff;
        margin-right: 0.5rem;
    }

}